.cover__subtitle {
  padding: 0 32px;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  z-index: 1;
}


@media (max-width: 768px) {
  .cover__subtitle {
    max-width: 360px;
    padding: 0 32px;
  }
}

@media (max-width: 320px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    padding: 0 16px;
  }
}
