.footer__link {
  color: #fff;
  margin-right: 18px;
  font-size: 1.5rem;
  line-height: 18px;
  text-decoration: none;
  transition: opacity .2s linear;
}

.footer__link:hover {
  opacity: 0.8;
}

.footer__link:last-of-type {
  margin-right: 0;
}


@media (max-width: 920px) {
  .footer__link {
    line-height: 1.5rem;
    margin-bottom: 32px;
  }
}
