.footer__links{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
}




  @media (min-width: 768px) {
  }
  
  @media (min-width: 321px) and (max-width: 767px) {
    .footer__links {
      margin-bottom: 48px;
      flex-direction: column;
    }
  }
  
  @media (max-width: 320px) {
    .footer__links {
      margin-bottom: 48px;
      flex-direction: column;
    }
  }